<h1>Create a New Bookmark</h1>
<form action="/links" method="post" >
  Link Name:
  <input type="text" name="link_name" ><br>
  Link URL:
  <input type="text" name="link_url" >
  <input type="text" name="link_tag" >
  <input type="submit" value="Create new link" >
</form>
